{% extends "datarequests/base.html" %}

{% block subtitle %}{{ _('Create Data Request') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Data Requests'), controller='ckanext.datarequests.controllers.ui_controller:DataRequestsUI', action='index' %}</li>
  <li class="active"><a href="">{{ _('Create Data Request') }}</a></li>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ _('Create Data Request') }}{% endblock %}</h1>
  {% snippet "datarequests/snippets/new_datarequest_form.html", data=c.datarequest, errors=c.errors, errors_summary=c.errors_summary, offering=c.offering %}
{% endblock %}

{% block secondary_content_additional_info %}
  <p>We’ll consider your request in accordance with our <a href="{{ h.url_for('pages_show', page='/open-data-policy') }}">{{ _('data policy') }}</a> and respond here on the site to let you know the outcome.</p>
  <p>Please note that this will not be classed as a request for information under following legislation, if you wish to make one of these requests please visit the organisations website.</p>
  <p>The Freedom of Information (Scotland) Act 2002 nvironmental Information (Scotland) Regulations 2004, or the Re-use of Public Sector Information Regulations 2015.</p>
{% endblock %}

{% block page_header %}{% endblock %}
